<div class="calculator">
  <div class="header">Calculator</div>
  <div class="content">
    <div class="inputKeypad">
      <input [(ngModel)]="inputExpression" readonly />
      <div class="keypad">
        <div class="grid-container">
          <div
            class="grid-item"
            *ngFor="let num of numbers"
            (click)="onSubmit(num)"
          >
            {{ num }}
          </div>
          <div
            class="grid-item"
            *ngFor="let val of bottomRow"
            (click)="onSubmit(val)"
          >
            {{ val }}
          </div>
        </div>
        <div class="op-grid-container">
          <div
            class="op-grid-item"
            *ngFor="let op of operators"
            (click)="onSubmit(op)"
          >
            {{ op }}
          </div>
        </div>
      </div>
    </div>
    <div class="expressions">
      <div class="list-header">CALCULATIONS</div>
      <ul>
        <li class="expression" *ngFor="let expression of expressionList">{{ expression }}</li>
      </ul>

    </div>
  </div>
  
  <!-- <button (click)="calculate()">=</button>
  <button (click)="reset()">C</button> -->
  
</div>
